.Person{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #eee;
    padding: 16px;
    margin: 10px 10px;
}